@use '../../../assets/styles/variables';
@use '../../../assets/styles/colors';
@use '../../../assets/styles/functions';

.alert {
  margin-top: functions.space(1);
}
.alert-error,
.alert-information,
.alert-success,
.alert-warning {
  padding: functions.space(2);
  border-radius: 4px;
}
.alert-error.ghost,
.alert-information.ghost,
.alert-success.ghost,
.alert-warning.ghost {
  padding: functions.space(1) 0;
  background: none;
}
.alert-error {
  color: colors.$status-error-700;
  background-color: colors.$status-error-100;
}
.alert-information {
  color: colors.$status-information-700;
  background-color: colors.$status-information-100;
}
.alert-success {
  color: colors.$status-success-900;
  background-color: colors.$status-success-100;
}
.alert-warning {
  color: colors.$status-warning-900;
  background-color: colors.$status-warning-100;
}
