@use '../../../assets/styles/variables';
@use '../../../assets/styles/functions';

.btn {
  &:disabled {
    cursor: not-allowed;
    background-color: variables.$light2;
  }
  cursor: pointer;
  padding: functions.space(1) functions.space(2);
  border: none;
  border-radius: 2px;
  font-family: contentSemiBold;
  text-transform: uppercase;
  color: variables.$light0;
  transition: all 400ms linear;
}
.btn-fw {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.btn-primary {
  &:hover:not(:disabled) {
    background-color: variables.$primaryLighter;
  }
  &:active:not(:disabled) {
    background-color: variables.$primaryDarker;
  }
  &:focus:not(:disabled) {
    outline: 3px solid variables.$primaryFocus;
  }
  background-color: variables.$primary;
}
.btn-secondary {
  &:hover:not(:disabled) {
    background-color: variables.$secondaryLighter;
  }
  &:active:not(:disabled) {
    background-color: variables.$secondaryDarker;
  }
  &:focus:not(:disabled) {
    outline: 3px solid variables.$secondaryFocus;
  }
  background-color: variables.$secondary;
}
.btn-outlined {
  &:disabled {
    color: variables.$light0;
    border: none;
  }
  &:hover:not(:disabled) {
    background-color: variables.$primaryOutlineHover;
  }
  &:focus:not(:disabled) {
    outline: 3px solid variables.$primaryFocus;
  }
  border: 1px solid variables.$primaryLighter;
  color: variables.$primaryLighter;
  background-color: transparent;
}
.btn-ghost {
  &:disabled {
    color: variables.$dark2;
    background: none;
  }
  &:hover:not(:disabled) {
    color: variables.$primaryLighter;
  }
  &:focus:not(:disabled) {
    outline: 3px solid variables.$primaryFocus;
  }
  color: variables.$primary;
  background: none;
}
.btn-small {
  font-size: variables.$labelSmall;
}
.btn-medium {
  font-size: variables.$labelMedium;
}
.btn-large {
  font-size: variables.$labelLarge;
}
