@use '../../../assets/styles/functions';
@use '../../../assets/styles/variables';

.toast {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  width: max-content;
  padding: functions.space(2) functions.space(6);
  color: variables.$light0;
  border-radius: 4px;
  transform: translateY(-200px);
  transition: transform 1000ms linear;
}
.toast.infos {
  background-color: variables.$primary;
}
.toast.success {
  background-color: variables.$success2;
}
.toast.warning {
  background-color: variables.$warning1;
}
.toast.alert {
  background-color: variables.$error2;
}
.toast.open {
  transform: translateY(0);
  transition: transform 1000ms linear;
}
