@use '../assets/styles/colors';
@use '../assets/styles/functions';

.form-group {
  display: flex;
  flex-direction: column;
}
.alert {
  font-size: 0.875rem;
  padding: functions.space(1);
  margin-block: functions.space(1);
  color: colors.$status-alert-700;
  background-color: colors.$status-alert-300;
}
