@use '../assets/styles/functions';
@use '../assets/styles/variables';

.icon-ri {
  color: inherit;
  margin-right: functions.space(1);
  vertical-align: middle;
}
.icon-ri.large {
  font-size: variables.$large-label;
}
.icon-ri.medium {
  font-size: variables.$medium-label;
}
.icon-ri.small {
  font-size: variables.$small-label;
}
