@use '../../../assets/styles/variables';
@use '../../../assets/styles/functions';

.form-control {
  &:focus,
  &:focus-within,
  &:focus-visible {
    border-color: variables.$primaryLighter;
  }
  &:focus-within::placeholder {
    opacity: 0;
  }
  &::placeholder {
    color: var(--placeholder-color);
    font-size: 0.825rem;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: variables.$light4;
  }
  &:invalid {
    border-color: variables.$error3;
  }
  background: none;
  outline: none;
  padding: functions.space(0.5) functions.space(2);
  border: 1px solid variables.$light1;
  border-radius: 2px;
}
