@use './assets/styles/colors';

.header{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  color:colors.$light-100;

  @media screen and (min-width: 64em) {
    position:fixed;
    top:0; 
    left: 0;
    height: 100%;
    flex-direction: column;
    background-color: colors.$primary;
  }
}
.header_navbar{
  position: fixed;
  background-color: colors.$primary;
  bottom: 0;
  left: 0;
  width: 100%;

  @media screen and (min-width: 64em) {
   position: static;
   width: auto;
   background-color: transparent;
  }
}
.navbar_links{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding:1rem 0;

  @media screen and (min-width: 64em) {
    flex-direction: column;
    
  }
}
.navbar_links a {
  color:colors.$light-100;
}
.logo{
  color:colors.$primary;

  @media screen and (min-width: 64em) {
    color:colors.$light-100;
   }
}
.logout{
  @media screen and (min-width: 64em) {
    color:colors.$light-100;
   }
}