@use './assets/styles/variables';
@use './assets/styles/functions';

.administrative_file {
  @media screen and (min-width: 64em) {
    display: grid;
    grid-template-areas:
      'identity contact'
      'history contact';
    gap: 1rem;
  }
}
.administrative_file-identity,
.administrative_file-history,
.administrative_file-contact {
  margin-bottom: 2rem;
  @media screen and (min-width: 64em) {
    margin-bottom: 0;
  }
}
.box_header {
  padding: functions.space(1) functions.space(2);
  border-radius: 4px;
  background-color: var(--menu-background);
}
.box_header h2 {
  font-size: 1rem;
  font-weight: 400;
  font-family: contentRegular;
  color: variables.$light0;
}
.box_content > * {
  padding: functions.space(2);
}
.contact_phone {
  display: flex;
  justify-content: space-between;
}
.gender {
  float: right;
}
.administrative_file-identity {
  grid-area: identity;
}
.administrative_file-history {
  grid-area: history;
}
.administrative_file-contact {
  grid-area: contact;
}
.administrative_file-identity,
.administrative_file-history,
.administrative_file-contact {
  padding: functions.space(1);
  border-radius: 0.5rem;
  background-color: var(--background-color);
  box-shadow: var(--elevation4);
}
.box_content-fullname {
  color: var(--title-color);
  font-weight: 700;
}
.box_content-medical {
  @media screen and (min-width: 64em) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.administrative_file,
.medical_treatment,
.diagram_care,
.relationship {
  margin-top: functions.space(3);
}
.relationship_wrapper h2 {
  font-size: clamp(1rem, 3vw, 1.5rem);
}
.relationship_wrapper-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin: functions.space(4) 0;

  @media screen and (min-width: 57.5em) {
    flex-direction: row;
  }
}
.react-tabs {
  margin-top: functions.space(4);
}
.react-tabs__tab-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid variables.$light1;
  overflow-x: auto;
}
.react-tabs__tab {
  cursor: pointer;
  color: var(--label-color);
  white-space: nowrap;
}
.react-tabs__tab--selected {
  border-bottom: 2px solid var(--menu-background);
}
