@use './assets/styles/functions';
@use './assets/styles/variables';

.section_patient-topbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (min-width: 48em) {
    flex-direction: row;
    gap: 2rem;
  }
}
.section_patient-topbar > * {
  flex: 1;
}
.section_patient-wrapper {
  margin: functions.space(1) 0;
  padding: functions.space(1);
  border-radius: 0.5rem;
  background-color: var(--background-color);
  box-shadow: var(--elevation4);
  overflow: auto;
}
