@charset 'utf-8';

/*------------------------------------*\
  #USE FILES
\*------------------------------------*/

@use './assets/styles/colors';
@use './assets/styles/functions';
@use './assets/styles/variables';

/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

$textColor: var(--text-color);
$titleColor: var(--title-color);
$backgroundColor: var(--background-color);

:root{
  --text-color: hsl(240, 22%, 52%);
  --title-color: hsl(241, 100%, 66%);
  --label-color:hsl(240, 32%, 70%);
  --background-color:hsl(0, 0%, 100%);
}
html[data-theme='dark']{
  --text-color: hsl(240, 47%, 97%);
  --title-color: hsl(241, 98%, 70%);
  --label-color:hsl(240, 42%, 95%);
  --background-color: hsl(241, 39%, 22%);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: titleBold;
  color: $titleColor;
}
h1 {
  font-size: variables.$heading-1;
}
h2 {
  font-size: variables.$heading-2;
}
h3 {
  font-size: variables.$heading-3;
}
h4 {
  font-size: variables.$heading-4;
}
h5 {
  font-size: variables.$heading-5;
}
h6 {
  font-size: variables.$heading-6;
}
p {
  font-size: variables.$body-small;
}
body {
  font-family: contentRegular;
  color: $textColor;
  background-color: $backgroundColor;
}
a {
  font-size: variables.$medium-label;
  color: colors.$primary;
  font-family: contentRegular;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}
.container {
  width: 80vw;
  max-width: 1085px;
  margin-inline: auto;
}
.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.visible-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}