@charset 'utf-8';

/*------------------------------------*\
  #USE FILES
\*------------------------------------*/

@use './assets/styles/functions';
@use './assets/styles/variables';

/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

:root {
  --text-color: #{variables.$dark1};
  --title-color: #{variables.$primary};
  --label-color: #{variables.$dark3};
  --placeholder-color: #{variables.$dark4};
  --link-color: #{variables.$primary};
  --menu-background: #{variables.$primary};
  --background-color: #{variables.$light0};
  --table-background-color: #{variables.$light1};
  --elevation0: #{variables.$elevationLight0};
  --elevation1: #{variables.$elevationLight1};
  --elevation2: #{variables.$elevationLight2};
  --elevation3: #{variables.$elevationLight3};
  --elevation4: #{variables.$elevationLight4};
  --elevation5: #{variables.$elevationLight5};
}
html[data-theme='dark'] {
  --text-color: #{variables.$light1};
  --title-color: #{variables.$primaryLighter};
  --label-color: #{variables.$light3};
  --placeholder-color: #{variables.$light4};
  --link-color: #{variables.$primaryLighter};
  --menu-background: #{variables.$primaryLighter};
  --background-color: #{variables.$dark0};
  --table-background-color: #{variables.$dark1};
  --elevation0: #{variables.$elevationDark0};
  --elevation1: #{variables.$elevationDark1};
  --elevation2: #{variables.$elevationDark2};
  --elevation3: #{variables.$elevationDark3};
  --elevation4: #{variables.$elevationDark4};
  --elevation5: #{variables.$elevationDark5};
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: titleBold;
  color: var(--title-color);
}
h1 {
  font-size: variables.$heading1;
}
h2 {
  font-size: variables.$heading2;
}
h3 {
  font-size: variables.$heading3;
}
h4 {
  font-size: variables.$heading4;
}
h5 {
  font-size: variables.$heading5;
}
h6 {
  font-size: variables.$heading6;
}
p {
  font-size: variables.$bodySmall;
}
body {
  font-family: contentRegular;
  color: var(--text-color);
  background-color: var(--background-color);
}
a {
  font-size: variables.$labelMedium;
  color: var(--link-color);
  font-family: contentRegular;
}
section,
form {
  margin-top: functions.space(8);
  padding-bottom: functions.space(20);
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}
.container {
  width: 80vw;
  max-width: 1085px;
  margin-inline: auto;
}
.group-row {
  @media screen and (min-width: 35em) {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}
.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.visible-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}
