$header-height: 80px;
$footer-height: 56px;

/*------------------------------------*\
  Typography
\*------------------------------------*/

$heading-1: clamp(1.875rem, 3vw + 1rem, 2.5rem);
$heading-2: clamp(1.75rem, 3vw + 1rem, 2rem);
$heading-3: clamp(1.5rem, 3vw + 1rem, 1.75rem);
$heading-4: clamp(1.25rem, 3vw + 1rem, 1.5rem);
$heading-5: clamp(1rem, 3vw + 1rem, 1.25rem);
$heading-6: clamp(0.875rem, 3vw + 1rem, 1rem);

$body: 1rem;
$body-small: 0.875rem;

$small-label: 0.625rem;
$medium-label: 0.75rem;
$large-label: 0.875rem;
